body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #0F1113;
    font-family: Arial, sans-serif;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#logo {
    color: white; 
    font-size: large; 
    background-color: #54758A; 
    border-radius: 8px;
    padding: 8px;
    font-style: italic;
}

.leftSideBarButton {
    background: none;
    color: white;
    border-radius: 10px;
    height: 40px;
    flex: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: row
}

.leftSideBarButton:hover {
    background-color: #181C1F;
}

.interactionButtons {
    background-color: rgba(0, 0, 0, 0);
}

.comment {
    color: #D7E5E5;
}

.interactionButtons:hover {
    background-color: #333D41;
}

.upArrowColor {
    color: white;
}

.downArrowColor {
    color: white;
}

.opinteractionButtons {
    background-color: #2B3236;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.opinteractionButtons:hover {
    background-color: #333D41;
}

.addCommentBorder {
    border: 1px solid #868889;
    border-radius: 30px;
}

.addCommentBorder:hover {
    border: 1px solid white;
}

.sortButton {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 30px;
}

.sortButton:hover {
    background-color: #333D41;
}

.searchBorder {
    border: 1px solid #27282A;
    border-radius: 30px;
}

.searchBorder:hover{
    border: 1px solid #8BA2AD;
}

.sideBarLine {
    display: none;
}

@media (min-width: 1200px) {
    .sideBarLine {
        height: auto;
        border: 1px solid #3F4142;
        margin: 3px;
        display:inline-block;
    }
}

.sidebar {
    width: 240px;
    padding: 30px;
}

@media (max-width: 1200px) {
    .sidebar {
        display: none;
    }
}

.searchSeddit {
    font-size: medium;
    min-width: 100px;
    margin: 40px
}

.mainContent {
    margin: 12px;
    margin-top: 24px;
}



@media (max-width: 460px) {
    .searchSeddit {
        font-size: small;
    }
    #logo {
        font-size: medium; 
    }
    .searchSeddit {
        margin: 30px;
    }
}

.rightSideBar {
    width: 280px; 
    margin: 24px;
}

.centerContnet {
    max-width: max-content; 
    margin: auto;
}

@media (max-width: 940px) {
    .rightSideBar {
        width: 0;
        margin: 0;
        height: 0;
        display: none;
    }
}
