body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #0F1113;
}

.leftSideBarButton {
    background: none;
    color: white;
    border-radius: 10px;
    height: 40px;
    flex: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: row
}

.leftSideBarButton:hover {
    background-color: #181C1F;
}

.interactionButtons {
    background-color: rgba(0, 0, 0, 0);
}

.interactionButtons:hover {
    background-color: #333D41;
}

.upArrowColor {
    color: white;
}

.downArrowColor {
    color: white;
}

.opinteractionButtons {
    background-color: #2B3236;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.opinteractionButtons:hover {
    background-color: #333D41;
}

.addCommentBorder {
    border: 1px solid #868889;
    border-radius: 30px;
}

.addCommentBorder:hover {
    border: 1px solid white;
}

.sortButton {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 30px;
}

.sortButton:hover {
    background-color: #333D41;
}

.searchBorder {
    border: 1px solid #27282A;
    border-radius: 30px;
}

.searchBorder:hover{
    border: 1px solid #8BA2AD;
}

.sideBarLine {
    width: 0;
}

@media (min-width: 1200px) {
    .sideBarLine {
        height: auto;
        border: 1px solid #3F4142;
        margin: 3px;
        display:inline-block;
    }
}

.sidebar {
    width: 240px;
    padding: 30px;
}

@media (max-width: 1200px) {
    .sidebar {
        width: 0;
        padding: 0;
    }
}

.searchSeddit {
    font-size: medium;
    min-width: 110px;
}

@media (max-width: 460px) {
    .searchSeddit {
        font-size: small;
    }
}

.mainContent {
    padding-right: 24px;
}

@media (max-width: 460px) {
    .mainContent {
        padding-right: 0px;
    }
}

